[submodule "pytorch"]
	path = pytorch
	url = git@github.com:pytorch/pytorch.git
[submodule "vision"]
	path = vision
	url = git@github.com:pytorch/vision.git
[submodule "fastai"]
	path = fastai
	url = git@github.com:fastai/fastai.git
